.ComapnysOrAd {
    display: flex;
    flex-direction: column;
}

.AddComapnyContainer {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    padding: 1rem;
    border: 1px solid black;
    width: fit-content;
    border-radius: 2rem;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    font-family: 'Sofia';

}

.CompanyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;

}

.AddComapnyContainer:hover {
    background-color: #2b2b2b;
    color: white;
    box-shadow: 0px 1px 5px .5px white;
    /*right down z axis*/
}

.CompanyOrAdv {
    width: 20rem;
    height: 20rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
    padding-top: 15px;
}

.CompanyLogoorAdv {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.CompanyNameOrAdv {
    color: white;
    font-family: 'Sofia';
    font-style: italic;
    font-size: 1.6rem;

}

.CompanyLink,
.CompanyLink:visited {
    color: black;
    text-decoration: none;
    font-family: 'Sofia';
    font-size: 1.4rem;
    border: 1px solid white;
    margin: 0 2.5rem 1rem 2.5rem;
    border-radius: 2rem;
    border-color: black;
    background-color: white;
    font-weight: 500;

}

.CompanyLink:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.CompanyLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}