/* GameComponent.css */

.game-card {
    position: relative;
    background-color: #333; /* Background color for each game card */
    border: 1px solid #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color:brown;
    font-size: 1.2em;
  }
  
  .game-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .game-details {
    padding: 16px;
  }
  
  .game-name {
    font-size: 1.2em;
    margin: 0;
    color: #fff; /* Text color for game name */
  }
  
  .game-price {
    color: #007bff;
    margin: 8px 0 0;
    font-weight: bold;
  }
  .add-back-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #00cc00; /* Green color for the "Add Back" icon */
    font-size: 1.2em;
  }
  