.SaveButton,.SaveButton:hover{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 5px;
    background-color: navy;
    color: white;
    font-family: Sofia;
    font-size: larger;
    font-style: italic;
    width: 95%;
}
.HaveAccount,.HaveAccount:hover{
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 5px;
    background-color: navy;
    color: white;
    font-family: Sofia;
    font-size: larger;
    font-style: italic;
    width: 11rem;
   text-align: center;
   font-family: Sofia;
}
.LinkToLogin,.LinkToLogin:hover{
    color: white;
    text-decoration: none;
}