/* Footer.css */

.footer {
    background-color: #19191d;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    max-width: 300px;
    text-align: center;
  }
  
  .footer-section h3 {
    border-bottom: 2px solid #fff;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  